<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="Data driven Test Suite"><test verbose="2" preserve-order="true" name="/Users/pendemsujithkumar/IdeaProjects/DataDrivenProjectGA"><classes><class name="com.ga.testcases.LoginTest"><methods><include name="LoginAsBankManager"/></methods></class></classes></test></suite>